{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
AGREGAR TARJETA
{%endblock%}
{%block script %}
 <script>
        
         $(function validar_nueva_tarjeta(){

            jQuery.validator.addMethod("codigo_tarjeta", function(value, element) {
              return this.optional(element) || /^([0-9])/.test(value);
              }, "Datos no son correctos, debe ingresar numeros");
            
            jQuery.validator.addMethod("fecha_tarjeta_vencimiento", function(value, element) {
              return this.optional(element) || /^([0-9]{2})+([/])+([0-9]{2})/.test(value);
              }, "Datos no son correctos, debe ingresar numeros");

                  
            jQuery.validator.addMethod("numerotarjeta_nueva", function(value, element) {
              return this.optional(element) || /^([0-9]{4})+([-])+([0-9]{4})+([-])+([0-9]{4})+([-])+([0-9]{4})/.test(value);
              }, "El formato debe ser XXXX-XXXX-XXXX-XXXX");

               
                $("#formulario-agregar-tarjeta").validate({
                  rules: { 
                          tarjeta_banco_nueva: {required: true, numerotarjeta_nueva: true},
                          codigo_seguridad_nuevo: {required : true, codigo_tarjeta: true, maxlength: 3},
                          fecha_tarjeta_nueva:  {required : true,  maxlength:5, fecha_tarjeta_vencimiento: true}
                          
                          },

                  messages : { 
                         
                          tarjeta_banco_nueva: {required: "Ingrese una tarjeta bancaria", numerotarjeta_nueva: "Los datos ingresados no son correctos"},
                          codigo_seguridad_nuevo: {required :"Codigo requerido", codigo_tarjeta:"Solo ingrese numeros", maxlength: "maximo 3 digitos"},
                          fecha_tarjeta_nueva: {required :"Fecha de su tarjeta requerida",  maxlength:"Ingrese una fecha valida", fecha_tarjeta_vencimiento:"Ingrese una fecha valida"}
                  
                            }
                          });
                        });


 </script>

{% endblock %}

{% block content%}
<section  class= "container" >
    <h1>AGREGAR TARJETA</h1>

    <form class="form-inline my-2 my-lg-0" method="POST" action="" id="formulario-agregar-tarjeta">
        {% csrf_token %}
        <div class="form-row">

                <div class="col-3">
                    <label for="tarjeta_banco_nueva">N° TARJETA BANCARIA</label>
                        <input type="text" name="tarjeta_banco_nueva" id="tarjeta_banco_nueva" class="form-control" placeholder="Tarjeta bancaria">            
                
                </div>

                <div class="col-3">
                    <label for="banco_nuevo">BANCO</label>
                        <select class="form-control" name="banco_nuevo" id="banco_nuevo">
                            {% for banco in bancos %}
                            <option value="{{banco.id}}">{{banco.nombre_banco}}</option>
                            {%endfor%}
                        </select>
                </div>
        

        
              <div class="col-3">
                  <label for="codigo_seguridad_nuevo">CODIGO SEGURIDAD</label>
                  <input type="text" name="codigo_seguridad_nuevo" id="codigo_seguridad_nuevo" class="form-control" placeholder="CVV" maxlength= 3>
              </div>

              <div class="col-3">
                  <label for="fecha_tarjeta_nueva">VENCIMIENTO TARJETA</label>
                  <input type="text" name="fecha_tarjeta_nueva" id="fecha_tarjeta_nueva" class="form-control" placeholder="00/00" maxlength =  5>
              </div>
        </div>
       
        <button type="submit" id="botonagregartarjeta"  name="agregartareta" class="btn btn-primary ml-5 ">AGREGAR TARJETA</button>  
    </form>
    <br>
    <br>
    <br>
    <a href="{% url 'administracion:mediospago' usuario.rut_usuario %}"><strong id ="cancelar">Volver al perfil</strong></a>
    {% if medio_pago %}
    <div id="alerta_agregar-tarjeta mt-5 ">
        <div class="alert alert-success mt-5 col-5" role="alert">
             TU TARJETA SE HA AGREGADO EXITOSAMENTE
            </div>
    </div>
     {% endif %}

      {% if r %}
    <div id="alerta_y_esta-tarjeta mt-5 ">
      <div class="alert alert-danger mt-5 col-5" role="alert">
            ESTA TARJETA YA SE ENCUENTRA INGRESADA
    </div>
     {% endif %}
      
        
        
    </section>

{% endblock %} 