{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
ARRIENDO EN CURSO
{%endblock%}

{%block script %}
<script>


    $(function codigo_arriendo()
            {
                   var u = document.getElementById("usuario_arriendo").value
                    u = u.replace('-','')
                    u = u.replace(/\./g,'')
 
 
                   var now = new Date()
                   
                  document.getElementById("cod_arriendo").value = "#" + u + now.getHours() + now.getMinutes() + now.getSeconds();
            });

     
    $(function(){
         document.getElementById("costo").innerHTML = `<h1>0</h1>`
            })
            $(function hora(){
                var now = new Date();
                if(now.getMinutes () < 10 )
                    {
                        var minutos = "0" + now.getMinutes()
                    }
                    else
                    {   
                        var minutos = now.getMinutes()
                    }
                var time_i = now.getHours()+ ":" + minutos ;
                document.getElementById("hora_inicio").value = time_i;

            });

                $(function terminar()
                    {
                        $("#finalizar").on("click", function ()
                        {
                            $('#aviso').modal()
                        }
                        );
                    })



       $(function Valores()
            {
                $("#termino_manual").on("click", function ()
                {
                    $(function hora(){
                    var now = new Date();
                    if(now.getMinutes() < 10 )
                    {
                        var minutos = "0" + now.getMinutes()
                    }
                    else
                    {   
                        var minutos = now.getMinutes()
                    }
                    var time_t = now.getHours()+1 + ":" + minutos ;
	                document.getElementById("hora_termino").value = time_t;

                    $(function costo(){
                         var primero = now.getHours() ;
                         var segundo =  now.getHours()+1 ;
                         var total = (segundo - primero)
                         var costo = 0;
                         if(total >= 1)
                            {costo =  200 * total}
                        else
                            {costo =  0}

                         document.getElementById("costo").value = costo;  

                    });


                    $(function apareceboton()
                    {
                        document.getElementById("finalizar").disabled = false;  
                       

                         
                    })

                     });
                });
            });

      hora();
      setInterval(hora, 1000);

      



</script>
{% endblock %}


{% block content%}

<section  class= "container">
<h1>Arriendo en curso</h1>
<hr>
<h3>Recorrido</h3>
<br>

    <div class="form-row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26633.541973094605!2d-70.55990111798337!3d-33.444284530570634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce6aa173a115%3A0x14eaa870edb3c922!2sLa%20Reina%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1606021218859!5m2!1ses!2scl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>


     <div class="col"> 
        <form  method="POST" id="formulario-arriendo-curso">
            {% csrf_token %}
                <div id="aviso" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">TERMINO DE VIAJE</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>

                            <div class="modal-body">
                                <p>PRESIONE "FINALIZAR" PARA TERMINAR EL RECORRIDO</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button href="{% url 'administracion:arriendo_realizado' usuario.rut_usuario %} "type="submit" id="finalizar-arriendo" class="btn btn-warning">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="form-row">
                    <div class="col"> 
                            <label for="usuario_arriendo">USUARIO</label>
                            <input type="text" name="usuario_arriendo" value="{{usuario.rut_usuario}}"id="usuario_arriendo" class="form-control" readonly>
                    </div>

                     <div class="col"> 
                            <label for="cod_arriendo">CODIGO ARRIENDO</label>
                            <input type="text" name="cod_arriendo" id="cod_arriendo" class="form-control" readonly>
                    </div>
                           
                   
                </div>
                 <div class ="form-row">
                    <div class="col"> 
                            <label for="costo">COSTO</label>
                            <input type="text" name="costo" id="costo" class="form-control" readonly>
                
                            
                            <br>

                            <label for="hora_inicio">HORA INICIO</label>
                            <input type="text" name="hora_inicio" id="hora_inicio" class="form-control" readonly>

                            <br>
                            <button type="button" id="termino_manual" class="btn btn-primary mb-2">BLOQUEAR MANUAL</button>
                            <br>
                            <label for="hora_termino">HORA TERMINO</label>
                            <input type="text" name="hora_termino" id="hora_termino" class="form-control" readonly>
                            <br>
                            <button  type="button" id="finalizar" class="btn btn-primary mt-5" name="finalizar-viaje"disabled>TERMINAR VIAJE</button>

                    </div>
                </div>
                    
                   
                </div> 
        </form>
    </div>
</div>
                        
       


  









</section>


{% endblock %}