{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
ARRIENDO FINALIZADO
{%endblock%}

{%block script %}

{% endblock %}


{% block content%}

<section  class= "container">
<h1>Arriendo Finalizado</h1>
<h2>¡ Vuelve a viajar con nostros !</h2>
 <img class="rounded mx-auto d-block" src="{% static 'administracion/img/9.jpg'%}" alt="...">
<a  href="{% url 'administracion:cuenta_usuario' usuario.rut_usuario %}"><strong id ="alperfil">Volver</strong></a>


  









</section>


{% endblock %}