{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
ARRIENDO BICICLETA
{%endblock%}
{%block script %}

{% endblock %}
    

{% block content%}
<section  class= "container">
<h1>SELECCIONA TU ESTACIÓN</h1>
<hr>
<div class="form-row">
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26633.541973094605!2d-70.55990111798337!3d-33.444284530570634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce6aa173a115%3A0x14eaa870edb3c922!2sLa%20Reina%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1606021218859!5m2!1ses!2scl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col">
        <form class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
        <input name="buscarestacion" value="" class="form-control mr-sm-2" type="search" placeholder="Buscar estacion" aria-label="Buscar estacion">
        <button name="filtro" class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Buscar por nombre de estacion</button>
        <button name="refrescarestaciones" class="btn btn-outline-success my-2 my-sm-0 " type="submit">REFRESCAR</button>
          {% if m %}  
            <div class="alert alert-warning mt-2 ml-5" role="alert">
                ¡ No se encontraron registros !
                </div>
            {% endif %}
    <br>
    <br>
    <br>
    <table id ="tabla_b" class="table table-sm table-bordered" >
    <thead>
        <tr>
        <th scope="col">CODIGO ESTACION</th>
        <th scope="col">NOMBRE ESTACION</th>
        <th scope="col">ACCION</th>
        </tr>
    </thead>
    <tbody>
    {% for e in estaciones %}
        <tr>
            <th scope="row">{{e.pk}}</th>
            <td>{{e.ubicacion}}</td>
            <td><a class ="btn btn-success" name="editar" href ="{% url 'administracion:bicis' e.pk usuario.rut_usuario %}">DISPONIBILIDAD</a></td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
      
    </div>
</div>
</form>
    <hr>
    <a  href="{% url 'administracion:cuenta_usuario' usuario.rut_usuario %}"><strong>Volver a mi perfil</strong></a>
</section>
{% endblock %}