{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/css/estilo_mobike.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script>
            $(function bloquear()
            {   
                
                    $("#bloq").on("click", function ()
                            {
                                if (document.getElementById("seleccion-estado").value == 'No Activo')
                                {
                                     $("#desactivar").modal();

                                }
                                else if (document.getElementById("seleccion-estado").value == 'Activo')
                                {
                                     $("#activar").modal();

                                }
                                else if (document.getElementById("seleccion-estado").value == 'Seleccione una opcion')
                                {
                                     document.getElementById("alerta-activacion").innerHTML =`<div class="alert alert-warning" role="alert">
                                         ¡ NECESITAS SELECCIONAR UN ESTADO PARA EL USUARIO !
                                        </div>`

                                }
                                   
                            }
                     );

               
            })

            $(function alertaValidacion()
            {
                $("#botonvalidar").on("click", function ()
                {
                    var l = document.getElementById("alertaV");
                    l.innerHTML= `<div class="alert alert-success" role="alert">
                                   TU TARJETA HA SIDO VALIDADA CORRECTAMENTE
                                   </div>`
                }
                );
            })

        
     </script>
    {%block script %}
    {% endblock %}
    {%block head2%}
    {% endblock %}
    
    <title>
    {%block head%}
    {% endblock %}
    </title>
</head>

<body>
{% block nav %}
{% endblock %}
    <section class = "container col-sm-6 col-md-6 col-lg-12">
    <hr>
    {% block content %}

    {% endblock %}
    </section>
   
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <scipt src="http://maps.googleapis.com/maps/api/js?sensor=false"> </scipt>
   
</body>
</html>