{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
BICICLETAS
{%endblock%}
{%block script %}
 <script>

 </script>

{% endblock %}

{% block content%}
<section  class= "container">
<h1>SELECCIONA TU ESTACIÓN</h1>
<form class="form-inline my-2 my-lg-0" method="POST" action="">
  {% csrf_token %}
        <table id ="tabla_b" class="table table-sm table-bordered" >
            <thead>
                <tr>
                <th scope="col">ESTACION</th>
                <th scope="col">MODULO</th>
                <th scope="col">ESTADO</th>
                <th scope="col">ACCION</th>
                </tr>
            </thead>
            <tbody>
                 {% for bici in bc %}
                    <tr>
                        <th scope="row">{{bici.estacion_bicicleta_id}}</th>
                        <td>{{bici.numero_bicicleta}}</td>
                        <td>{{bici.estado_bicicleta}}</td>
                        <td><a  name="solicitar" id="solicitar" class="btn btn-success btn-lg" href="{% url 'administracion:ingreso_codigo' bici.numero_bicicleta usuario.rut_usuario %}">SOLICITAR CODIGO</a></td>
                    </tr>   
                {% endfor %}
            </tbody>
        </table>
            <a href="{% url 'administracion:arriendo' usuario.rut_usuario %}"><strong id ="volverarriendo">Volver</strong></a>
    </form>
</section>

{% endblock %}
