{% extends "administracion/base.html" %}

{%block head%}
ACTUALIZAR USUARIO
{%endblock%}

{% block content%}
<h2>Estado Usuario {{usuario_bloq.nombres}} : {{usuario_bloq.estado}}</h2> 
<h1>{{cd}}</h1>

<br>
<form action= ""method="POST">
{% csrf_token %}
<div class="form-row">
    <div class="col">
        <div class="modal " id="desactivar" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">BLOQUEO A USUARIO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                            </button>
                    </div>

                    <div class="modal-body">
                        <p>¿SEGURO QUE DESEA BLOQUEAR A ESTE USUARIO?</p>
                    </div>

                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="botonregistro" class="btn btn-danger">Realizar</button>
                    </div>

                </div>
            </div>
        </div>

          <div class="modal" id="activar"tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">ACTIVAR A USUARIO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                            </button>
                    </div>

                    <div class="modal-body">
                        <p>¿SEGURO QUE DESEA ACTIVAR A ESTE USUARIO?</p>
                    </div>

                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="botonregistro" class="btn btn-success">Realizar</button>
                    </div>

                </div>
            </div>
        </div>





    </div>
</div>

        <div class="form-row">
            <div class="col-6">
                <label for="estado">ESTADO</label>
                    <select class="form-control" name="seleccion" id="seleccion-estado">
                    <option selected >Seleccione una opcion</option>
                    <option>Activo</option>
                    <option>No Activo</option>
                    </select>
            </div>

            <div class="col-6">
                <button type="button" id="bloq" class="btn btn-warning btn-lg">CAMBIAR ESTADO</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="form-row">
            <div class="col-6">
                <a id="volver" href="{% url 'administracion:listar' %}"><strong>Cancelar</strong></a>
            </div>

        </div>
         <div class="form-row">
            <div class="col-6">
                <div id="alerta-activacion">
                </div>
            </div>

        </div>

    </form>

       
       
        
 



{% endblock %}
