{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
CALIFICAR USUARIO
{%endblock%}

{% block content%}

<div class="container">
<h1 class="text-center">USUARIO: {{usuario.rut_usuario}}</h1>
<h3 class="text-center">CALIFICACION ACTUAL : {{usuario.calificacion}}</h3>
<hr>    
        <div class="form-row">
        
           <img class="rounded mx-auto d-block" src="{% static 'administracion/img/12.JPg'%}" alt="...">
                <div class ="col"> 
                    <form method ="POST" id="formulario-calificaciones" class="col text-center">
                    {% csrf_token %}
                            <select class="form-control" name="calificacion" id="calificacion">
                                {% for c in calificaciones %}
                                <option >{{c.nombre_calificacion}}</option>
                                {%endfor%}
                            </select>
                        <br>
                        <br>
                        <div class ="col mt-5"> 
                            <button type="submit" id="botoncalificacion" class="btn btn-primary mt-5">ASIGNAR CALIFICACIÓN</button>   
                        </div>     
                    </form>
                     {% if mensaje %}
                    <div class="alert alert-success" role="alert">
                        Se ha asigando con exito la calificación a este usuario 
                    </div>
        {% endif %}
                </div> 
        </div> 
         
       

    <hr>

    <div> 
<a id="cerrar" href="{% url 'administracion:reportes' %}"><strong>Volver</strong></a>
</div>

{% endblock %}