{% extends "administracion/base.html" %}

{%block head%}
ACTUALIZAR USUARIO
{%endblock%}


    {%block script %}
    <script>
      $(function(){
           $("#cambio-direccion").validate(
     {
         rules:{    direccionc: {required:true} },
         messages: { direccionc: {required: "Ingrese su direccion"}}
     });
      })
    

    </script>
    {% endblock %}

{% block content%}

<form action= "" method="POST" class="col-10 container" id ="cambio-direccion"> 
<h2>Actualización de Direccion</h2>
<br>
<h5>Tu direccion Actual es: {{usuario_mod.direccion}}, {{comunamod.comuna}}, {{ciudadmod.ciudad}}, {{regionmod.region}}</h5>
<br>
<br>
{% csrf_token %}
  <div class="form-row">
    <div class="col">
            <label for="direccionc">DIRECCION</label>
            <input type="text" value="{{usuario_mod.direccion}}" name="direccionc" id="direccionc" class="form-control" placeholder="Escriba su direccion" required>
     </div>

     <div class="col">
        <label for="region">REGION</label>
          <select class="form-control" name="region"id="region">
                {% for region in regiones %}
                     <option >{{region.region}}</option>   
                {%endfor%}
          </select>
     </div>
    </div>

   <div class="form-row">
     <div class="col">
        <label for="ciudad">CIUDAD</label>
            <select class="form-control" name="ciudad" id="ciudad">
             {% for ciudad in ciudades %}
                 <option >{{ciudad.ciudad}}</option>
             {%endfor%}
            </select>
     </div>

    <div class="col">
      <label for="comuna">COMUNA</label>
        <select class="form-control" name="comuna" id="comuna">
          {% for c in comunas %}
            <option >{{c}}</option>
          {%endfor%}
        </select>
    </div>
  </div>


 
  <hr>
  <div class="form-row">
    <div class="col">
      <button type="submit" id="botoncambiodireccion" class="btn btn-primary">GUARDAR CAMBIOS</button>
    </div>
     <a href="{% url 'administracion:perfil' usuario_mod.rut_usuario %}"><strong id ="cancelar">Cancelar</strong></a>
  </div>
   
</form>
{% endblock %}
