{% extends "administracion/base.html" %}

{%block head%}
CAMBIO DE CONTRASEÑA
{%endblock%}

{%block script %}
<script>
  
  function validarpasscambio()
  {
    var p1 = document.getElementById("passc1").value;
    var p2 = document.getElementById("passc2").value;
    var a = document.getElementById("alertacambio");

        if (p1 != p2)
         {  
           a.innerHTML = ``
        
          return false;
        }
        else
        {
          
           return true
        }
       
  }
 
            
            jQuery.validator.addMethod("passwords", function(value, element) { 
                return this.optional(element) || validarpasscambio(value); 
                }, "Es necesario confirmar la contraseña");
            
  

         
               
               $("#Formulario_pass").validate({
                  rules: { 
                         
                          passc1: {required : true},
                          passc2: {required : true, passwords: true}
                          },

                  messages : { 
                         
                          passc1: {required: "es necesario una contraseña"},
                          passc2: {required: "Es necesario confirmar la contraseña"}
                            }
                          }
                          );
                        });

</script>

{% endblock %}




{% block content%}
{% if m %}
<div class="alert alert-danger" role="alert">
{{m}}
</div>
{% endif %}

{% if o%}
<div class="alert alert-success" role="alert">
{{o}}
</div>
{% endif %}

<form action= "" method="POST" class="col-10 container" id="formulario_pass" >
<h2>Actualizacion de contraseña</h2>
{% csrf_token %}
    <div class="form-row">
        <div class="col">
            <label for="passc1">INGRESA TU NUEVA CONTRASEÑA CONTRASEÑA</label>
                <input type="password" value="{{usuario_mod.contrass}}" name="passc1" id="passc1" class="form-control" placeholder="Establezca una contraseña">
                <br>
            <label for="passc2">CONFIRMA SU NUEVA CONTRASEÑA</label>
                <input type="password" value="{{usuario_mod.contrass}}" name="passc2" id="passc2" class="form-control" placeholder="Confirme su contraseña">
        </div>
    </div>
    <br>
    <br>
    <div class="form-row">
        <div class="col">
         <button type="submit" id="botonrcambiopass" name="cambiarpass" class="btn btn-primary">CAMBIAR CONTRASEÑA</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class = "col">
        <a href="{% url 'administracion:perfil' usuario_mod.rut_usuario %}"><strong id ="cancelar">Volver</strong></a>
    </div>
    
  
   
  
</form>



{% endblock %}