{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
CUENTA ADMINISTRADOR
{%endblock%}

{% block content%}

<div class="container">
<h1>Bienvenido !</h1>
    <hr>
    <h3>TAREAS</h3>
     <div class="form-row tareas">
        <div class="col">
            <a class="btn btn-primary tarea_listar" href="{% url 'administracion:listar' %}" role="button">ADMINISTRAR USUARIOS</a>
        </div>
    </div>    
    <hr>


<a id="cerrar" href="{% url 'administracion:inicio' %}"><strong>Cerrar Sesion</strong></a>
</div>

{% endblock %}