{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
CUENTA USUARIO
{%endblock%}

{% block content%}
<section  class= "container">
    <h1>Bienvenido ! </h1>
    <hr>
    <img class="rounded mx-auto d-block" src="{% static 'administracion/img/7.jpg'%}" alt="...">
    <p class="nombre_u">{{ur.nombres}} {{ur.apellidos}}</p>
    <div class="col text-center">
    <a class ="btn btn-warning" href ="{% url 'administracion:perfil' ur.rut_usuario %}">Mi perfil</a>
    </div>
    <br>
    <div class="col text-center">
    <a class ="btn btn-primary" href ="{% url 'administracion:arriendo' ur.rut_usuario %}" name="irarriendo">COMENZAR ARRIENDO</a>
    <a class ="btn btn-primary" href ="{% url 'administracion:mistransacciones' ur.rut_usuario %}" name="mistransacciones">MIS ARRIENDOS</a>
    </div>
    <hr>
    <a  href="{% url 'administracion:inicio'  %}"><strong>Cerrar Sesion</strong></a>
    </section>


{% endblock %}