{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
BICICLETAS
{%endblock%}
{%block script %}
 <script>

            $(function()
            {
                 $("#formulario-codigo").validate(
                     {
                  rules: { 
                          codigo_des: {required : true}
                          },

                  messages : { 
                          codigo_des: {required: "Es necesario ingresar el codigo"}
                            }
                          }
                          );
            })


    

 </script>

{% endblock %}

{% block content%}
<section  class= "container">
    <form  method ="POST" id="formulario-codigo">
        {% csrf_token %}
        <div id="codigov" class="text-center" >
            <h3>INGRESA ESTE CODIGO PARA DESBLOQUEAR TU BICICLETA</h3>
            <br>
            <br>
            <h1 id="codigo_base_desbloqueo"><strong>{{bici.codigo_bicicleta}}</strong></h1>
            <br>
            <br>
            <input type="text" name="codigo_des" id="codigo_des"class="form-control" placeholder="Ingrese su codigo aqui">
            <br>
            <br>

            <button type="submit" id="v_codigo" class="btn btn-warning">Validar Codigo</button>
            <br>
            {% if cod %}
            <a class="btn btn-success mt-5" href="{% url 'administracion:encurso' bici.estacion_bicicleta_id usuario.rut_usuario %}" type="submit" id="comenzarriendo" >COMENZAR ARRIENDO</a>
             {% else %}
            <button class="btn btn-success mt-5" href="{% url 'administracion:encurso' bici.estacion_bicicleta_id usuario.rut_usuario %}" type="button" id="comenzarriendo" disabled>COMENZAR ARRIENDO</button>
             {% endif %}
            

        </div>

            <a href="{% url 'administracion:bicis' bici.estacion_bicicleta_id usuario.rut_usuario %}"><strong id ="volverabicis">Volver</strong></a>

            <br>
            <br>
    </form>
        {% if m %}
          <div class="alert alert-danger" role="alert">
                {{m}}
        </div>
        {% endif %}
</section>



{% endblock %}








