{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
INICIO
{%endblock%}
{%block head2%}

  {% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-sm-6 col-md-6 col-lg-12">
    <a class="navbar-brand" href="/">MOBIKE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:registro' %}">REGISTRO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:sesion' %}">ACCESO CORPORATIVO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:sesion2' %}">ACCESO USUARIOS</a>
        </li>
        </ul>
    </div>
    </nav>
{%endblock%}



{% block content%}
<div class="container">
<h1 class="titulo_inicio">MOBIKE</h1>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'administracion/img/1.jpg'%}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  src="{% static 'administracion/img/2.jpg'%}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'administracion/img/3.jpg'%}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
{% endblock %}