{% extends "administracion/base.html" %}

{%block head%}
CUENTA ADMINISTRADOR
{%endblock%}

{% block content%}

<h2>Usuarios Registrados</h2>
<a href="{% url 'administracion:cuenta_admin' %}"><strong>Volver a Tareas</strong></a>
<br>
<form class="form-inline my-2 my-lg-0" method="POST">
  {% csrf_token %}
      <input name="buscar" value="" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button name="filtro" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Buscar por rut</button>
      <button name="refrescar" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">REFRESCAR</button>
 
    {% if m %}  
  <div class="alert alert-warning ml-5" role="alert">
      ¡ No se encontraron registros !
      </div>
  {% endif %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


<table id ="tabla_u" class="table table-sm table-bordered" >
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th> 
      <th scope="col">Comuna</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Region</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Estado</th>
      <th scope="col">Calificacion</th>
      <th scope="col">Accion</th>
      <th scope="col">Accion</th>
      
    </tr>
  </thead>
  <tbody>
  {% for b in todos %}
    <tr>
        <th scope="row">{{b.rut_usuario}}</th>
        <td>{{b.nombres}}</td>
        <td>{{b.apellidos}}</td>
        <td>{{b.direccion}}</td>
        <td>{{b.comuna}}</td>
        <td>{{b.ciudad}}</td>
        <td>{{b.region}}</td>
        <td>{{b.email}}</td>
        <td>{{b.telefono}}</td>
        <td>{{b.estado}}</td>
        <td>{{b.calificacion}}</td>
        <td><a class ="btn btn-warning" name="editar" href ="{% url 'administracion:editar' b.rut_usuario %}">EDITAR</a></td>
        <td><a class ="btn btn-danger" name="bloquear"  href ="{% url 'administracion:bloquear' b.rut_usuario %}">BLOQUEAR</a></td>
      </tr>
  {% endfor %}

  </tbody>
</table>
</form>
    <hr>




{% endblock %}