{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
MEDIOS DE PAGO
{%endblock%}
{%block script %}
 <script>

   

            $(function alertaNoEliminar()
            {
                $("#no_poder_eliminar").on("click", function ()
                {
                    var l = document.getElementById("alerta-no-eliminar");
                    l.innerHTML= `<div class="alert alert-warning" role="alert">
                                   No puedes alterar esta tarjeta, debes tener al menos un medio de pago ingresado
                                   </div>`
                }
                );
            })


 </script>

{% endblock %}

{% block content%}
<section  class= "container col-6" >
<h1>MIS MEDIOS DE PAGO</h1>
<a name="agregarcartarjeta" class="btn btn-primary  mb-5" type="button" href ="{% url 'administracion:agregartarjeta' usuario.rut_usuario %}">Agregar tarjeta</a>
<br>

{% if tarjetas.count > 1 %}
<form class="form-inline my-2 my-lg-0 " method="POST" action="" id="medios-de-pago">
 {% csrf_token %}
 
   
      <input name="buscartarjeta" class="form-control mr-sm-2" type="search" placeholder="Buscar tarjeta" aria-label="Buscar">
      <button name="filtrotarjeta" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Buscar</button>
      <button name="refrescartarjeta" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">REFRESCAR</button>
       {% if m %}  
        <div class="alert alert-warning ml-5" role="alert">
        ¡ No se encontraron registros !
      </div>
        {% endif %}  
<table id ="tabla_tarjeta" class="table table-sm table-bordered mt-5" >
  <thead>
    <tr>
      <th scope="col">Numero Tarjeta</th>
      <th scope="col">Accion</th>

    </tr>
  </thead>
  <tbody>
  {% for t in tarjetas %}
    <tr>
        <th scope="row">{{t.tarjetaPago}}</th>
        <td><a href="{% url 'administracion:tarjeta' usuario.rut_usuario t.tarjetaPago  %}"class ="btn btn-success" type="button" name="tarjeta_eliminar" id="tarjeta_eliminar">Ir a Eliminar</a></td>
        
      </tr>
  {% endfor %}

  </tbody>
</table>
 <a href="{% url 'administracion:cuenta_usuario' usuario.rut_usuario  %}"><strong id ="cancelar">Volver</strong></a>

    </form>

{% else %}

<form class="form-inline my-2 my-lg-0 " method="POST" action="" id="medios-de-pago" readonly>
 {% csrf_token %}
 
   
      <input name="buscartarjeta" class="form-control mr-sm-2" type="search" placeholder="Buscar tarjeta" aria-label="Buscar">
      <button name="filtrotarjeta" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Buscar</button>
      <button name="refrescartarjeta" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">REFRESCAR</button>
     {% if m %}  
        <div class="alert alert-warning ml-5" role="alert">
        ¡ No se encontraron registros !
      </div>
        {% endif %} 

<table id ="tabla_tarjeta" class="table table-sm table-bordered mt-5" >
  <thead>
    <tr>
      <th scope="col">Numero Tarjeta</th>
      <th scope="col">Accion</th>

    </tr>
  </thead>
  <tbody>
  {% for t in tarjetas %}
    <tr>
        <th scope="row">{{t.tarjetaPago}}</th>
        <td><a class ="btn btn-success" type="button" name="no_poder_eliminar" id="no_poder_eliminar">Ir a Eliminar</a></td>
        
      </tr>
  {% endfor %}

  </tbody>
</table>
 <a href="{% url 'administracion:cuenta_usuario' usuario.rut_usuario  %}"><strong id ="cancelar">Volver</strong></a>

    </form>

{% endif %}

<div id="alerta-no-eliminar">
</div>
       
</section>

{% endblock %}
