{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
CUENTA USUARIO
{%endblock%}

{% block content%}

<section  class= "container">
<div class="row">
    <div class ="col">
        <h1>Mis Datos</h1>
        <h3>CALIFICACION ACTUAL: {{user.calificacion}}</h3>
        <p>Rut: {{user.rut_usuario}}</p>
        <p>Nombres: {{user.nombres}}</p>
        <p>Apellidos: {{user.apellidos}}</p>
        <p>Direccion: {{user.direccion}}</p>
        <p>Email {{user.email}}</p>
        <p>Telefono: {{user.telefono}}</p>
        <p>Comuna: {{user.comuna}}</p>
        <p>Ciudad: {{user.ciudad}}</p>
        <p>Region {{user.region}}</p>
        <a href="{% url 'administracion:cuenta_usuario' user.rut_usuario %}"><strong id ="cancelar">Volver</strong></a>

    </div>
    <div class ="col">
    <a class ="btn btn-warning mt-2" href ="{% url 'administracion:datos' user.rut_usuario %}">Actualizar Datos</a>
    <br>
    <a class ="btn btn-warning mt-2" href ="{% url 'administracion:direccion' user.rut_usuario %}">Actualizar Direccion</a>
    <br>
    <a class ="btn btn-warning mt-2" href ="{% url 'administracion:cambiopass' user.rut_usuario %}">Actualizar Contraseña</a> 
    <br> 
    <a class ="btn btn-warning mt-2" href ="{% url 'administracion:mediospago' user.rut_usuario %}">Mis Medios de Pago</a>  
    </div>
    </div>
   
</div>



</section>


{% endblock %}