{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
BICICLETAS
{%endblock%}
{%block script %}
 <script>

 </script>

{% endblock %}

{% block content%}
<section  class= "container ">
<h1>MIS ARRIENDOS</h1>
<form class="form-inline my-2 my-lg-0" method="POST" action="" >
 {% csrf_token %}
      <input name="buscartransaccion" class="form-control mr-sm-2" type="search" placeholder="Buscar arriendo" aria-label="Buscar">
      <button name="filtrotransaccion" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Buscar</button>
      <button name="refrescarlista" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">REFRESCAR</button>
<table id ="tabla_u" class="table table-sm table-bordered mt-5 ">
  <thead>
    <tr>
      <th scope="col">CODIGO ARRIENDO</th>
      <th scope="col">UBICACION ORIGEN</th>
      <th scope="col">UBICACION TERMINO</th>
      <th scope="col">HORA INICIO</th> 
      <th scope="col">HORA TERMINO</th>
      <th scope="col">COSTO</th>
    </tr>
  </thead>
  <tbody>
  {% for a in recorridos %}
    <tr>
        <th scope="row">{{a.id_arriendo}}</th>
        <td>{{a.ubicacion_origen}}</td>
        <td>{{a.ubicacion_termino}}</td>
        <td>{{a.hora_inicio}}</td>
        <td>{{a.hora_termino}}</td>
        <td>{{a.costo}}</td>
      </tr>
  {% endfor %}

 
  

  </tbody>
</table>
 {% if recorridos.count  < 1 %} 
   <div class="alert alert-warning ml-5" role="alert">
      ¡ Vaya, no has realizado ningun arriendo !
      </div>
  {% endif %} 

    </form>
        <a href="{% url 'administracion:cuenta_usuario' usuario.rut_usuario %}"><strong id ="cancelar">Volver</strong></a>
</section>

{% endblock %}
