{% extends "administracion/base.html" %}

{% load static %}
{%block head%}
Actualizacion Realizada
{%endblock%}

{% block content%}
<h1>EL USUARIO HA SIDO ACTUALIZADO !</h1>
 <div class="col">
     <a href="{% url 'administracion:listar' %}">Volver al listado</a>
</div>

<img id="" src="{% static 'administracion/img/4.jpg'%}" alt="...">

{% endblock %}