{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
Bloqueo Realizado
{%endblock%}

{% block content%}
<h1>EL USUARIO HA SIDO  BLOQUEADO CON EXITO !</h1>
 <div class="col">
     <a href="{% url 'administracion:listar' %}"><strong>Volver al listado</strong></a>
</div>

<img id="check" src="{% static 'administracion/img/6.jpg'%}" alt="...">
{% endblock %}