{% extends "administracion/base.html" %}

{% load static %}
{%block head%}
Actualizacion Realizada
{%endblock%}

{% block content%}
<h1>SUS DATOS HAN SIDO ACTUALIZADOS !</h1>
 <div class="col">
     <a href="{% url 'administracion:cuenta_usuario' usuario.rut_usuario %}">Volver a mi cuenta</a>
</div>

<img id="" src="{% static 'administracion/img/8.jpg'%}" alt="...">

{% endblock %}