{% extends "administracion/base.html" %}

{%block head%}
REGISTRO
{%endblock%}

{%block script %}
<script>
  
        function validarpass()
        {
          var p1 = document.getElementById("pass").value;
          var p2 = document.getElementById("pass2").value;
          var a = document.getElementById("alerta");

              if (p1 != p2)
              {  
                a.innerHTML = `<div class="alert alert-danger" role="alert">
                                        TUS CONTRASEÑAS NO COINCIDEN
                                        </div>`
              
                return false;
              }
              else
              { a.innerHTML = `<div class="alert alert-success" role="alert">
                                        TUS CONTRASEÑAS COINCIDEN
                                        </div>`
                
                return true
              }
            
        }
 
 function validaRut(campo){
                        if ( campo.length == 0 ){ return false; }
                        if ( campo.length < 8 ){ return false; }

                        campo = campo.replace('-','')
                        campo = campo.replace(/\./g,'')

                        if ( campo.length > 9 ){ return false; }

                        var suma = 0;
                        var caracteres = "1234567890kK";
                        var contador = 0;    
                        for (var i=0; i < campo.length; i++){
                          u = campo.substring(i, i + 1);
                          if (caracteres.indexOf(u) != -1)
                          contador ++;
                        }
                        if ( contador==0 ) { return false }
                        
                        var rut = campo.substring(0,campo.length-1)
                        var drut = campo.substring( campo.length-1 )
                        var dvr = '0';
                        var mul = 2;
                        
                        for (i= rut.length -1 ; i >= 0; i--) {
                          suma = suma + rut.charAt(i) * mul
                                      if (mul == 7) 	mul = 2
                                  else	mul++
                        }
                        res = suma % 11
                        if (res==1)		dvr = 'k'
                                      else if (res==0) dvr = '0'
                        else {
                          dvi = 11-res
                          dvr = dvi + ""
                        }
                        if ( dvr != drut.toLowerCase() ) { return false; }
                        else { return true; }
                      }
                       $(function() {
            
            jQuery.validator.addMethod("run", function(value, element) { 
                return this.optional(element) || validaRut(value); 
                }, "Revise el formato del rut, no es valido");
            
            jQuery.validator.addMethod("passwords", function(value, element) { 
                return this.optional(element) || validarpass(value); 
                }, "Es necesario confirmar la contraseña");
            
  

            jQuery.validator.addMethod("soloTexto", function(value, element)
             {
               return this.optional(element) || /^[[A-Za-z\s]+$/i.test(value);
                    
             }, "Ingrese solo texto en este campo"); 
             
            
             
             

            jQuery.validator.addMethod("edadMinima", function(value, element, min) {
              var hoy = new Date();
              var fechanac = new Date(value);
              var edad = hoy.getFullYear() - fechanac.getFullYear();

              if (edad > min + 1) {
               return true; }

              var m = hoy.getMonth() - fechanac.getMonth();

              if (m < 0 || (m === 0 &&hoy.getDate() < fechanac.getDate())) {
              edad--;
                }
              return edad >= min;
             }, "Lamentablemente, no eres mayor de edad para completar esta accion!");


            jQuery.validator.addMethod("formemail", function (value, element) {
                 var pattern = /^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                 return this.optional(element) || pattern.test(value);
                  },"El formato correcto debe ser como: abc@domain.com");
                  
            jQuery.validator.addMethod("numerotarjeta", function(value, element) {
              return this.optional(element) || /^([0-9]{4})+([-])+([0-9]{4})+([-])+([0-9]{4})+([-])+([0-9]{4})/.test(value);
              }, "El formato debe ser XXXX-XXXX-XXXX-XXXX");

            

            jQuery.validator.addMethod("numeroFono", function(value, element) {
              return this.optional(element) || /(^[+5]{2})([6]{1})([9]{1})+([0-9]{8})/.test(value);
              }, "El formato debe ser  +56912345678");
            
            jQuery.validator.addMethod("codigo_tarjeta", function(value, element) {
              return this.optional(element) || /^([0-9])/.test(value);
              }, "Datos no son correctos, debe ingresar numeros");
            
             jQuery.validator.addMethod("fecha_tarjeta_vencimiento", function(value, element) {
              return this.optional(element) || /^([0-9]{2})+([/])+([0-9]{2})/.test(value);
              }, "Datos no son correctos, debe ingresar numeros");



               $("#formulario-registro").validate({
                  rules: { 
                          nombres : { required: true,  soloTexto: true},
                          apellidos : { required: true,  soloTexto: true},
                          rut:     { required: true, run: true },
                          email:   { required: true, email: true, formemail: true},
                          telefono: { required:true, numeroFono: true },
                          direccion: {required : true},
                          tarjeta_banco: {required: true, numerotarjeta:true},
                          pass: {required : true},
                          pass2: {required : true, passwords: true},
                          codigo_seguridad: {required : true, codigo_tarjeta: true, maxlength: 3},
                          fecha_tarjeta: {required : true,  maxlength:5, fecha_tarjeta_vencimiento: true},
                          
                          },

                  messages : { 
                          nombres: { required: "Su nombre es requerido"},
                          apellidos: { required: "Su apellido es requerido"},
                          email: { required:"Ingrese su correo", email: "El formato correcto debe ser como: abc@domain.com"},
                          rut: { required: "Ingrese su run"},
                          telefono: {required: "Ingrese su telefono", numeroFono: "El formato debe ser +56912345678"},
                          direccion: {required: "Ingrese su direccion"},
                          tarjeta_banco: {required: "Ingrese una tarjeta bancaria", numerotarjeta: "Los datos ingresados no son correctos"},
                          pass: {required: "es necesario una contraseña"},
                          pass2: {required: "Es necesario confirmar la contraseña"},
                          codigo_seguridad: {required :"Codigo requerido", codigo_tarjeta:"Solo ingrese numeros", maxlength: "maximo 3 digitos"},
                          fecha_tarjeta: {required :"Fecha de su tarjeta requerida",  maxlength:"Ingrese una fecha valida", fecha_tarjeta_vencimiento:"Ingrese una fecha valida"}
                            }
                          }
                          );
                        });

</script>

{% endblock %}


{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-sm-6 col-md-6 col-lg-12">
    <a class="navbar-brand" href="/">MOBIKE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:registro' %}">REGISTRO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:sesion' %}">ACCESO CORPORATIVO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:sesion2' %}">ACCESO USUARIOS</a>
        </li>
        </ul>
    </div>
    </nav>
{%endblock%}

{% block content%}

<div id = "alerta">

</div>

<form action= "" method="POST" class="col-10 container" id="formulario-registro" >
<h2 id="t_form">Formulario de Registro</h2>
{{c}}
{% csrf_token %}
<div class="form-row">
    <div class="col">
    <label for="rut">RUT<span><small> - Este sera tu usuario para acceder a la aplicacion</small></span></label>
      <input type="text" name="rut" id="rut"class="form-control" placeholder="Ej: 12.345.678-9" >
    </div>
  </div>
  <div class="form-row">
    <div class="col">
    <label for="nombres">NOMBRES</label>
      <input type="text" name="nombres" id="nombres"class="form-control" placeholder="Escriba sus nombres">
    </div>
    <div class="col">
    <label for="apellidos">APELLIDOS</label>
      <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Escriba sus apellidos">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
     <label for="direccion">DIRECCION</label>
      <input type="text" name="direccion" id="direccion"class="form-control" placeholder="Escriba su direccion">
    </div>

     <div class="col">
        <label for="region">REGION</label>
          <select class="form-control" name="region"id="region">
            {% for region in regiones %}
              <option >{{region}}</option>
              {%endfor%}
          </select>
    </div>

    

   <div class="form-row">
    <div class="col">
     <label for="ciudad">CIUDAD</label>
        <select class="form-control" name="ciudad" id="ciudad">
          {% for ciudad in ciudades %}
            <option >{{ciudad.ciudad}}</option>
          {%endfor%}
        </select>
    </div>
    <div class="col">
      <label for="comuna">COMUNA</label>
        <select class="form-control" name="comuna" id="comuna">
          {% for comuna in comunas %}
              <option >{{comuna.comuna}}</option>
          {%endfor%}
        </select>
    </div>
  </div>

   
  </div>

  <div class="form-row">
    <div class="col">
        <label for="email">EMAIL</label>
        <input type="email" name="email" id="email"class="form-control" placeholder="Ej: abc@domain.com" >
    </div>
    <div class="col">
        <label for="telefono">TELEFONO</label>
        <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ej: +56912345678">
    </div>
  </div>
  <hr>
  <div class="form-row">
    <div class="col">
        <label for="tarjeta_banco">N° TARJETA BANCARIA</label>
        <input type="text" name="tarjeta_banco" id="tarjeta_banco" class="form-control" placeholder="Ingrese su numero de tarjeta bancaria">
            <div class="form-row">
              <div class="col-6">
                  <label for="codigo_seguridad">CODIGO SEGURIDAD</label>
                  <input type="text" name="codigo_seguridad" id="codigo_seguridad" class="form-control" placeholder="CVV" maxlength= 3>
              </div>
              <div class="col-6">
                  <label for="fecha_tarjeta">VENCIMIENTO TARJETA</label>
                  <input type="text" name="fecha_tarjeta" id="fecha_tarjeta" class="form-control" placeholder="00/00" maxlength =  5>
              </div>
            </div>
    </div>
    <div class="col">
        <label for="banco">BANCO</label>
        <select class="form-control" name="banco" id="banco">
         {% for banco in bancos %}
           <option value="{{banco.id}}">{{banco.nombre_banco}}</option>
          {%endfor%}
        </select>
    </div>
    
    <div class="col">
        <label for="pass">CONTRASEÑA</label>
      <input type="password" name="pass" id="pass" class="form-control" placeholder="Establezca una contraseña">
      <br>
       <label for="pass2">CONFIRME SU CONTRASEÑA</label>
      <input type="password" name="pass2" id="pass2" class="form-control" placeholder="Confirme su contraseña">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" id="botonvalidar" class="btn btn-primary">VALIDAR TARJETA</button>
    </div>
    <div id="alertaV" class="col">

    </div>
    
  </div>
  <hr>
  <div class="form-row">
    <div class="col">
      <button type="submit" id="botonregistro" class="btn btn-primary">REGISTRARSE</button>
    </div>
    <div class="col">
     <a id ="ir1" href="{% url 'administracion:sesion2' %}">Si ya tienes cuenta, Inicia Sesion</a>
    </div>
  </div>
   
  
</form>



{% endblock %}