{% extends "administracion/base.html" %}

{%block head%}
ACCESO USUARIO
{%endblock%}


{% block content%}
<div  class="form-row">
<div id="alertaR" class="alert alert-success" role="alert">
FELICITACIONES, HAS SIDO REGISTRADO CON EXITO ! DA CLICK EN EL TEXTO RESALTADO PARA PODER <a href="{% url 'administracion:sesion2' %}" class="alert-link">INICIAR SESION</a>
</div>

</div>
{% endblock %}


