{% extends "administracion/base.html" %}

{%block head%}
CUENTA ADMINISTRADOR
{%endblock%}

{%block script %}
 <script>

   

            $(function alertaNoEliminar()
            {  
                $("#boton_codigo").on("click", function ()
                {
                    document.getElementById("buscar_codigo").disabled = false;
                    document.getElementById("buscar_usuario").disabled = true;
                    document.getElementById("buscar_origen").disabled = true;
                   
                });


                $("#boton_usuario").on("click", function ()
                {
                    document.getElementById("buscar_codigo").disabled = true;
                    document.getElementById("buscar_usuario").disabled = false;
                    document.getElementById("buscar_origen").disabled = true;
                   
                });

                 $("#boton_origen").on("click", function ()
                {
                    document.getElementById("buscar_codigo").disabled = true;
                    document.getElementById("buscar_usuario").disabled = true;
                    document.getElementById("buscar_ubicacion_inicio").disabled = false;
                   
                });



            })


 </script>

{% endblock %}


{% block content%}

<h2>Usuarios Registrados</h2>
 <a href="{% url 'administracion:cuenta_funcionario' %}"><strong>Volver a Tareas</strong></a>
<form class="form-inline my-2 my-lg-0" method="POST">
  {% csrf_token %}
      <button name="boton_codigo"  id="boton_codigo" class="btn btn-primary my-2 my-sm-0 " type="button">POR CODIGO ARRIENDO</button>
      <input name="buscar_codigo"  id="buscar_codigo" value="" class="form-control mr-sm-2 ml-2" type="search" placeholder="Buscar arriendo" aria-label="Buscar" disabled>
      
      <button name="boton_usuario"  id="boton_usuario" class="btn btn-primary my-2 my-sm-0 ml-2" type="button">POR USUARIO</button>
      <input name="buscar_usuario" id="buscar_usuario" value="" class="form-control mr-sm-2 ml-2" type="search" placeholder="Buscar usuario" aria-label="Buscar"  disabled>
      
      <button name="boton_origen"  id="boton_origen" class="btn btn-primary my-2 my-sm-0 ml-2" type="button">POR ORIGEN</button>
      <input name="buscar_ubicacion_inicio"  id="buscar_ubicacion_inicio" value="" class="form-control mr-sm-2 ml-2" type="search" placeholder="Buscar Ubicacion origen" aria-label="Buscar"  disabled>


      <button name="filtroarriendo" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Buscar </button>
      <button name="refrescararriendo" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Resfrescar</button>
       {% if m %}  
        <div class="alert alert-warning ml-5" role="alert">
            ¡ No se encontraron registros !
            </div>
        {% endif %}
      {% if mensaje %}
      <a name="iracalificar"  href="{% url 'administracion:calificacion' arriendo %}" class="btn btn-warning my-2 my-sm-0 ml-2" type="button">Calificar Usuario</a>
      {% endif %}
  <br>
  <br>
  <br>
<table id ="tabla_a" class="table table-sm table-bordered" >
  <thead>
    <tr>
      <th scope="col">CODIGO ARRIENDO</th>
      <th scope="col">USUARIO</th>
      <th scope="col">UBICACION DE ORIGEN</th> 
      <th scope="col">UBICACION DE TERMINO</th>
      <th scope="col">HORA INICIO</th>
      <th scope="col">HORA TERMINO</th>
      <th scope="col">COSTO ARRIENDO</th>
      <th scope="col">CALIFICACION</th>

      
 
    </tr>
  </thead>
  <tbody>
  {% for a in todos %}
    <tr>
        <th scope="row">{{a.id_arriendo}}</th>
        <td>{{a.usuario_id}}</td>
        <td>{{a.ubicacion_origen}}</td>
        <td>{{a.ubicacion_termino}}</td>
        <td>{{a.hora_inicio}}</td>
        <td>{{a.hora_termino}}</td>
        <td>{{a.costo}}</td>
        <td>{{a.usuario.calificacion}}</td>
       
      </tr>
  {% endfor %}

  </tbody>
</table>
</form>
    <hr>




{% endblock %}