{% extends "administracion/base.html" %}

{%block head%}
ACCESO CORPORATIVO
{%endblock%}
{%block script %}
<script>
  
$(function() {
    $("#formulario_administrador").validate({
                  rules: { 
                          user_admin : { required: true},
                          contrasenia_admin : { required: true}
                          
                          },

                  messages : { 
                          user_admin : { required: "Su usuario es requerido"},
                          contrasenia_admin : { required: "Su contraseña es requerido"}
                            }
                          }
                          );

});
</script>

{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-sm-6 col-md-6 col-lg-12">
    <a class="navbar-brand" href="/">MOBIKE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:registro' %}">REGISTRO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:sesion' %}">ACCESO CORPORATIVO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administracion:sesion2' %}">ACCESO USUARIOS</a>
        </li>
        </ul>
    </div>
    </nav>
{%endblock%}

{% block content%}
<div class="container">
<h2>Acceso Corporativo</h2>

<form method="POST" id="formulario_administrador" class=" col-8">
    {% csrf_token %}
    <form>
  <div class="form-group">
    <label for="user_admin">USUARIO</label>
    <input type="text" name="user_admin" class="form-control" id="user_admin" placeholder="Escriba aqui su usuario" >
  </div>
  <div class="form-group">
    <label for="contrasenia_admin">CONTRASEÑA</label>
    <input type="password" name="contrasenia_admin"class="form-control" id="contrasenia_admin" placeholder="Escriba aqui su contraseña"> 
  </div>
  <button type="submit" class="btn btn-primary">ACCEDER</button>
  <br>
  <br>
{% if m %}
  <div class="alert alert-danger" role="alert">
    {{m}}
</div>
{% endif %}

</form>
<hr>
</div>
{% endblock %}