{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
MEDIOS DE PAGO
{%endblock%}

{% block content%}
<section  class= "container" >


<img class="rounded mx-auto d-block" src="{% static 'administracion/img/10.png'%}" alt="...">
<h3 style = "color: red" class="text-center" >¡ TU TARJETA HA SIDO ELIMINADA !</h3>

<div class = "mt-5 text-center">

   <h1><a href="{% url 'administracion:mediospago' usuario.rut_usuario  %}"><strong id ="cancelar">Volver</strong></a></h1>
   
</div>
      


</section>

{% endblock %}
