{% extends "administracion/base.html" %}
{% load static %}
{%block head%}
MEDIOS DE PAGO
{%endblock%}
{%block script %}
 <script>
   $(function bloquear()
            {
                $("#boton_eliminar").on("click", function ()
                {
                    $(".modal").modal('show');
                }
                );
            })

 </script>

{% endblock %}

{% block content%}
<section  class= "container" >
<h1>MIS MEDIOS DE PAGO</h1>
<br>
<form class="form-inline my-2 my-lg-0 " method="POST" action="" id="elimnar-tarjeta-definitiva">
 {% csrf_token %}
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar Medio Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>¿SEGURO QUE DESEAS ELIMINAR ESTA TARJETA?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button href="{% url 'administracion:ya_eliminada' usuario.rut_usuario  %}" type="submit" class="btn btn-danger">Eliminar</button>
                    </div>

                </div>
            </div>
        </div>  


        <div class="form-row">

            <div class="col">
                <label for="tarjeta_banco_eliminar">N° TARJETA BANCARIA</label>
                <input type="text" name="tarjeta_banco_eliminar" value ="{{mediopago}}" id="tarjeta_banco_eliminar" class="form-control" placeholder="Ingrese su numero de tarjeta bancaria" readonly>
            </div>

            <div class="col">
                <label for="codigo_eliminar">CODIGO SEGURIDAD</label>
                <input type="text" name="codigo_eliminar" value ="{{codigo_tarjeta}}" id="codigo_eliminar" class="form-control" placeholder="Ingrese su numero de tarjeta bancaria" readonly>
            </div>

            <div class="col">
                <label for="fecha_eliminar">FECHA VENCIMIENTO</label>
                <input type="text" name="fecha_eliminar" value ="{{fecha_tarjeta}}" id="fecha_eliminar" class="form-control" placeholder="Ingrese su numero de tarjeta bancaria"readonly>
            </div>


            <div class="col">
                <label for="banco_nuevo">BANCO</label>
                <input type="text" name="banco_eliminar" value ="{{banco}}" id="tarjeta_banco_eliminar" class="form-control" placeholder="Ingrese su numero de tarjeta bancaria" readonly>
            </div>

             <div class = "ml-5 mt-2">
                <button class ="btn btn-lg btn-danger" type="button" name="boton_eliminar" id="boton_eliminar">Eliminar Tarjeta</button>
            </div>  
        </div>

        

    </form>
    
    <div class = "mt-5">
        <a href="{% url 'administracion:mediospago' usuario.rut_usuario  %}"><strong id ="cancelar">Volver</strong></a>  
    </div>
      
       
</section>

{% endblock %}
