.titulo_inicio
{
    color:royalblue;
    text-align: center;
}


img
{
 height: 50%;
}

#botonvalidar
{
    margin-top: 20px;
}

#cerrar, #ir1
{
    float: right;
}



small, h2, #t_form, h1
{
    color:royalblue;
}

#alertaV
{
    margin-top: 20px;
}

#check
{
    height: 50%;
    float: right;
}

#bloq, #volver
{
    margin-top: 25px;
}

.tarea_listar
{
    margin-top: 30px;
}

#alertaR
{
    text-align: center;
}


.nombre_u
{
    text-align: center;
    font-size: 20px;
    
}

#exito
{
    float: left;
}

#cancelar
{
    text-align: right;
}

